.col-md-6
  %div{class: 'panel panel-'+ (i.kind_of?(Integer) ? 'success' : 'info')}
    .panel-heading
      Выставочный зал
      = i
      %span.toright
        = link_to_remove_hall(fr)

      .clearfix
    .panel-body
      .row
        .col-md-12
          .form-group
            = fr.label :name
            = fr.text_field :name, class: 'form-control'
            = fr.error_messages_for(:name)
