=breadcrumb_tag do
  %li.active
    = @collection.c_name
  %li
    = link_to 'Коллекции', collections_path
  %li
    Музей

%h1= @collection.c_name

%dl
  %dt= Collection.human_attribute_name(:c_name)
  %dd= @collection.c_name

  %dt= Collection.human_attribute_name(:description)
  %dd= @collection.description

  %dt= Collection.human_attribute_name(:date_begin)
  %dd= @collection.date_begin

  %dt= Collection.human_attribute_name(:date_end)
  %dd= @collection.date_end

= link_to edit_collection_path(@collection), class: 'btn btn-info' do
  = fa_icon :edit
  = t('buttons.edit')
= link_to @collection, :method => :delete,
:data => { :confirm => t('buttons.confirm.collection') },
class: 'btn btn-danger' do
  = fa_icon :times
  = t('buttons.destroy')
