= form_for @role do |f|
  = error_messages_for @role
  .form-actions.bottom20
    = f.submit nil, class: 'btn btn-primary'

  .row
    .col-md-6
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'
        = f.error_messages_for(:name)
    .col-md-6
      .form-group
        = f.label :info
        = f.text_field :info, class: 'form-control'
        = f.error_messages_for(:info)
  .row
    .col-md-6
      .form-group
        = f.label :full_info
        = f.text_area :full_info, class: 'form-control'
        = f.error_messages_for(:full_info)
